@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import "./page-css/menu.css";
@import "./page-css/home-page.css";
@import "./page-css/school-page.css";
@import "./page-css/la-fundacion.css";
@import "./page-css/actualidad.css";
@import "./page-css/eventos.css";
@import "./page-css/emprende-pais.css";
@import "./page-css/aflora.css";
@import "./page-css/footer.css";

@font-face {
     font-family: 'sansationbold';
     src: url('../fonts/web-fonts/sansation_bold-webfont.woff2') format('woff2'),
          url('../fonts/web-fonts/sansation_bold-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal; 
} 
@font-face {
     font-family: 'sansationbold_italic';
     src: url('../fonts/web-fonts/sansation_bold_italic-webfont.woff2') format('woff2'),
          url('../fonts/web-fonts/sansation_bold_italic-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal; 
} 
@font-face {
     font-family: 'sansationitalic';
     src: url('../fonts/web-fonts/sansation_italic-webfont.woff2') format('woff2'),
          url('../fonts/web-fonts/sansation_italic-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}  
@font-face {
     font-family: 'sansation_lightregular';
     src: url('../fonts/web-fonts/sansation_light-webfont.woff2') format('woff2'),
          url('../fonts/web-fonts/sansation_light-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal; 
} 
@font-face {
     font-family: 'sansation_lightitalic';
     src: url('../fonts/web-fonts/sansation_light_italic-webfont.woff2') format('woff2'),
          url('../fonts/web-fonts/sansation_light_italic-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal; 
} 
@font-face {
     font-family: 'sansationregular';
     src: url('../fonts/web-fonts/sansation_regular-webfont.woff2') format('woff2'),
          url('../fonts/web-fonts/sansation_regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal; 
}

html,
body{font-size:14px; color:#313338; display:-webkit-box;display:-ms-flexbox;display:flex;min-height: 100vh;-ms-flex-direction:column; flex-direction:column; font-family: 'sansationregular';}
body{background-color:#fff;  position:relative;  z-index:2; overflow-x:hidden;}
.for-footer-bot-stic{display:-webkit-box;display:-ms-flexbox;display:flex;min-height: 100vh;-ms-flex-direction:column; flex-direction:column;}
.body-scroll-dis{overflow:hidden; position:relative; padding-right:17px;}
.body-scroll-dis::after{height:100%; width:100%; display:block; content:""; position:absolute; top:0; left:0; background-color:rgba(0,0,0,0.6); z-index:8;}
.full-box-link{height:100%; width:100%; left:0; top:0; z-index:6;}
*:focus,
button:focus{outline:none;}
.object-fit-cover{-o-object-fit:cover; object-fit:cover; width:100%; height:100%;}
.object-fit-fill{-o-object-fit: fill; object-fit: fill;}
.object-fit-contain{-o-object-fit: contain; object-fit: contain;}
.object-fit-none{-o-object-fit: none; object-fit: none;}
.object-fit-scale-down {-o-object-fit: scale-down; object-fit: scale-down;}
ul,ul li{padding:0; list-style:none; margin:0;}
p,h1,h2,h3,h4,h5,h6{ margin:0;}
.h-100{height:100%;}
.b-s-30{height:30px; display:block;}
.a-center{height:calc(100% - 85px);}
.d-none-n{display:none;}
.d-none-ni{display:none !important;}
.for-before-sprite::before,
.for-after-sprite::after{position:absolute; content:"";}
.after-bg-none::after,
.before-bg-none::before{display:none;}
.after-po::after,
.before-po::before{position:absolute; content:"";}
.ff-sans-b{font-family: 'sansationbold';}
.ff-sans-lr{font-family: 'sansation_lightregular';}
.ff-sans-r{font-family: 'sansationregular';}
.ff-sans-b-i{font-family: 'sansationbold_italic';}
.ff-sans-i{font-family: 'sansationitalic';}
.ff-sans-l-i{font-family: 'sansation_lightitalic';}
.ff-nunito{font-family: 'Nunito', sans-serif;}
.ff-lato{font-family: 'Lato', sans-serif;}
a,i,
a:hover,
a:focus{color: inherit; text-decoration: none; transition: all 0.3s;}
.v-center{top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%);}
.v-center-tw{top:0; bottom:0; margin:auto; left:0; right:0;}
.btn.focus, .btn:focus{box-shadow:none;}
main{flex: 1 0 auto; -webkit-box-flex:1;}
.container-fluid{padding-left:40px; padding-right:40px;}
.margin-0-auto{margin:0 auto}
.comman-contain p{color:#111820; font-size:20px; line-height:30px; text-decoration: none solid rgb(17, 24, 32);}
.comman-contain p + p{margin-top:30px;}
#scroll{position:fixed; right:20px; bottom:200px; cursor:pointer; width:75px; height:75px; background-color:#fff; border:1px solid #8c8c8c; display:none; z-index: 9;}
#scroll span {position:absolute;top:0;left:0; margin:auto; bottom:0; right:0}
#scroll span svg{position:absolute; top:0;left:0; margin:auto; bottom:0; right:0}
#scroll:hover{background-color:#ff671b; opacity:1;filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; border-color:#ff671b;}
#scroll:hover svg,
#scroll:hover svg path{fill:#fff !important;}
.overflow-hidden{overflow:hidden;}
.z-index-5{z-index:5;}

.back-to-home{top:20px; left:12%; z-index:9;}
.back-to-home .ic-back{background:url(/images/back_acon.svg) 0 0 no-repeat; width:54px; height:50px; display:inline-block;}
.back-to-home a{font-size:18px;}
.back-to-home.small-size{left:78px; top:50px;}
.back-to-home.small-size .ic-back{transform:scale(0.7);}
.back-to-home.small-size a{font-size:15px;}

.breadcrumb{background-color:transparent; border:none; z-index:8; margin:0; padding:0; left:100px; top:30px; align-items:center;}
.breadcrumb li a{color:#6fccdc; font-size:16px;}
.breadcrumb li a:hover{text-decoration:underline;}
.breadcrumb li,
.breadcrumb-item.active{color:#111820}


@media(min-width:1400px){
     .container{max-width:1280px;}
}

@media(max-width:1199px){
     .container-fluid{padding-left:15px; padding-right:15px;}
}
@media(max-width:991px){
     .d-block-991{display:block;}
     .d-none-991{display:none;}     
     .d-none-991i{display:none !important;}
     .comman-contain p{font-size:16px; line-height:24px;}
     .info-section .big-box-in p{font-size:20px; text-align:center;}
     #scroll{height:45px; width:45px; bottom:20px;}
     .flex-wrap-991{-ms-flex-wrap:wrap;flex-wrap:wrap}
     .order-1-991{-ms-flex-order:1;order:1}
     .order-2-991{-ms-flex-order:2;order:2}
}
@media(max-width:767px){
     .order-1-767{-ms-flex-order:1;order:1}
     .order-2-767{-ms-flex-order:2;order:2}
     .flex-wrap-767{-ms-flex-wrap:wrap;flex-wrap:wrap}
     .justify-content-center-767{-ms-flex-pack:center !important;justify-content:center !important}
     .justify-content-start-767{-ms-flex-pack:start!important;justify-content:flex-start!important}
     .align-items-start-767{-ms-flex-align:start!important;align-items:flex-start!important}
     .d-block-767{display:block;}
     .d-block-767i{display:block !important;}
     .d-none-767{display:none;}
     .d-none-767i{display:none !important;}
     #scroll{display:none !important;}
     header .navbar-collapse{width:270px;}
     .position-relative-767{position:relative !important;}     
     .back-to-home{left:0; top:0; padding:10px;}
     .back-to-home a{color:#474747 !important; font-size:18px;}
     .back-to-home .ic-back{background:url(/images/back_acon2.svg) 0 0 no-repeat; width:30px; height:30px; display:inline-block;}     
     .innerpage.container{max-width:100%;}
     .innerpage .breadcrumb{left:12px;}
     .back-to-home .ic-back{background:url(/images/back_acon3.svg) 0 0 no-repeat}
     .back-to-home.small-size a{color:#fff !important;}
     .innerpage .back-to-home.small-size{left:0; padding-left:0;}
}
@media(max-width:479px){
     .flex-wrap-479{-ms-flex-wrap:wrap;flex-wrap:wrap}
}